<!-- <nav materialize class="deep-orange accent-4"> -->
<nav materialize class="red darken-4">
  <a class="brand-logo" href="#" data-toggle="modal" data-target=".about-us-modal">BlogIt&copy;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="right hide-on-med-and-down">
    <li><a href="#">Home</a></li>
    <li><a routerLink="/">Blogs</a></li>
    <li><a routerLink="/user">Users</a></li>
    <li><a routerLink="/session">Session</a></li>
  </ul>

</nav>


<div class="container">
  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!--  ABOUT section-modal-->
<div class="modal fade about-us-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h6> About Blog, Sell & Buy </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="detail" style="height: auto">
          App details will be here !
          <div>
            <img src="https://api.services.trvl.com/backgrounds/images/italy_1.jpg" height="450px" width="460px">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">got it</button>
      </div>
    </div>
  </div>
</div>