<nav materialize class="red darken-4">
  <a class="brand-logo" href="#" data-toggle="modal" data-target=".about-us-modal">BlogIt&copy;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="right hide-on-med-and-down">
    <li><a href="#">Home</a></li>
    <li><a routerLink="/">Blogs</a></li>
    <li><a routerLink="/user">Users</a></li>
    <li><a routerLink="/session">Session</a></li>
  </ul>

</nav>


<div class="container">
  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>