<div class="row app-blog-list">
  <div class="col-md-12">
    <app-blog-list></app-blog-list>
  </div>
</div>

<br>

<br>

<!-- Trigger detail modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".blog-detail-modal">Details</button>

<!-- Large modal -->
<div class="modal blog-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="selectedBlog; else infoHeader">{{selectedBlog.title}}</h5>
        <ng-template #infoHeader>
          <h5>No Blog Selected</h5>
        </ng-template>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="detail">
          <app-blog-detail *ngIf="selectedBlog; else infoText" [blog]="selectedBlog"></app-blog-detail>
          <ng-template #infoText>
            <p> Please select a Blog! Then will the blog details appear here :) </p>
          </ng-template>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Trigger Add Modal  -->
<a class="btn-floating btn-large waves-effect waves-light blue" data-toggle="modal" data-target=".new-blog-modal"><i
    class="material-icons">add</i></a>


<!-- Modal -->
<div class="modal new-blog-modal" id="new-blog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-content">
    <!-- Form starts here -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="input-field col s6">
        <input type="text" class="validate" name="title" ngModel autocomplete="off" minlength="2" required
          #title="ngModel">
        <label for="title">Title</label>
        <!-- <div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">Empty title!</div>
          <div *ngIf="title.errors?.minlength && title.touched" class="alert alert-danger">Title should be at least 10 characters</div> -->
      </div>
      <div class="input-field col s6">
        <input id="content" type="text" class="validate materialize-textarea" name="content" ngModel autocomplete="off" minlength="5"
          required #content="ngModel">
        <label for="content">Content</label>
        <!-- <div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">There should be some content</div>
          <div *ngIf="title.errors?.minlength && title.touched" class="alert alert-danger">Content should be at least 50 characters</div> -->
      </div>
      <input type="submit" class="btn waves-effect waves-green btn-flat" value="Submit">
    </form>
    <!-- Form ends here -->
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- <div *ngIf="newBlogContent.errors?.required && newBlogContent.touched" class="alert alert-danger">There should be some content</div>
            <div *ngIf="newBlogContent.errors?.minlength && newBlogContent.touched" class="alert alert-danger">Content should be at least 50 characters</div> -->