<div mat-dialog-title> 
  <h4>{{blog.title}}</h4> <div class="chip" *ngFor="let tag of blog.tags">
    {{tag}}
  </div>
 </div>
<div mat-dialog-content>

  <div class="row" style="color: #6f6f6f">
    <div> by {{ blog.user.username }} at {{blog.user.email}} </div> &nbsp;
    <div> - {{blog.read_time}} minute <i class="fa fa-clock-o" aria-hidden="true"></i> </div>
  </div>

  <div *ngIf="blog && blog.image && blog.image != null">
      <img class="responsive-img blog-title-image" src={{blog.image}}>
  </div>

  <div class="row blog-content" style="margin-top: 10px;">
    <div>
      {{ blog.content }}
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="blog.blog_pk">Done</button>
</div>
