<!-- <div class="row">
  <div class="col-xs-8">
    <img [src]="user.imagePath" alt="{{ user.name }}" class="img-responsive" style="max-height: 300px;">
  </div>
</div> -->
<div style="margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 20px; ">
  <div class="row" style="color: #6f6f6f">
    <div> by {{ blog.user.username }} at {{blog.user.email}} </div> &nbsp;
    <div>    - {{blog.read_time}} minute <i class="fa fa-clock-o" aria-hidden="true"></i> </div>
  </div>

  <div class="row blog-content" style="margin-top: 10px;">
    <div>
      {{ blog.content }}
    </div>
  </div>

</div>