<div class="row">
  <div class="col-8">
    <table class="table table-striped table-hover">
     <thead>
      <tr>
        <th scope="col">
          <i class="fa fa-user fa-fw"></i>
          <span class="sr-only">Loading...</span>
        User Information</th>
        <!-- <th scope="col">Name</th>
        <th scope="col">Username - email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address (st.-city-zipcode)</th> -->
      </tr>
    </thead>  
    <tbody>
      <!-- User row component should be here -->
      <app-user-item *ngFor="let userEl of users" [user]="userEl"></app-user-item>

    </tbody>  
    </table>

  </div>
</div>


<!-- 
<app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"></app-recipe-item> -->