<div class="input-field col s6">
  <input type="text" class="validate" name="title" ngModel autocomplete="off" minlength="2" required #title="ngModel">
  <label for="title">Title</label>
  <div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">Empty title!</div>
  <div *ngIf="title.errors?.minlength && title.touched" class="alert alert-danger">Title should be at least 10
    characters</div>
</div>




<div class="input-field col s6">
  <input id="content" type="text" class="validate materialize-textarea" name="content" ngModel autocomplete="off"
    minlength="5" required #content="ngModel">
  <label for="content">Content</label>
  <div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">There should be some content</div>
  <div *ngIf="title.errors?.minlength && title.touched" class="alert alert-danger">Content should be at least 50
    characters</div>
</div>