<tr (click)="onSelected()" class="user-item-row" >
  <td scope="row"><img
    [src]="user.imagePath"
    alt="{{ user.username }}"
    class="img-responsive"
    style="max-height: 50px;"></td>
  <td>{{user.name}}</td>
  <td>{{user.username}} - {{user.email}}</td>
  <td>{{user.phone}} </td>
  <td>{{user.address.street}}, {{user.address.city}} - {{user.address.zipcode}} </td>
</tr>

<!-- <a
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ user.name }}</h4>
    <p class="list-group-item-text">{{ user.username }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="user.imagePath"
          alt="{{ user.username }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a> -->
